@modal-prefix-cls: ~'@{css-prefix}modal';

.@{modal-prefix-cls}{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  &-shade{
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
  }

  &-warp{
    z-index: 1002;
    margin: 0 auto;
    background: #fff;
    position: relative;
    margin-top: 18vh;
    box-sizing: border-box;
    box-shadow: 1px 1px 25px rgba(0,0,0,.25);
  }

  &-head{
    padding: 10px;
    background-color: #f8f8f8;
    height: 37px;
    cursor: move;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid #eee;
    &.center{
      text-align: center;
    }
    .icon-cross{
      position: absolute;
      right: 16px;
      top: 10px;
      font-weight: 600;
      cursor: pointer;
      color: #999;
      &:hover{
        color: #444;
      }
    }
  }

  &-body{
    padding: 12px;
    .iconfont{
      font-size: 36px;
      float: left;
      &.icon-iconfontinfo{
        color: #2d8cf0;
      }
      &.icon-success{
        color: #19be6b;
      }
      &.icon-warning3{
        color: #ff9900;
      }
      &.icon-icon-test{
        color: #ed3f14;
      }
      &.icon-iconfontquestion{
        color: #f90;
      }
    }
    &-content{
      padding: 12px 0 0 52px;
      font-size: 12px;
    }
  }

  &-foot{
    padding: 12px 10px;
    text-align: right;
  }

}
